$black: #000000;
$grey: #A2A6AD;
$pink: #EF476F;
$hoverpink: #e24066;

$white: #FFFFFF;
$thin: 100;
$light: 300;
$reg: 400;

$med: 500;
$bold: 700;
$xsmalltext: .75rem;

$smalltext: 1rem;
$text: 1.125rem;
$smallheadertext: 1.5rem;
$medheadertext: 2rem;
$largeheadertext: 2.5rem;
$headertext: 3rem;
$xbigheadertext: 4.5rem;
$bigheadertext: 6rem;