body {
  background: #FFFFFF;
}

.nav {
  margin-bottom: 150px;
}

.nav__links:nth-child(4) {
  margin-right: 180px;
}

.content__header {
  color: #000000;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 85px;
}

.content__text {
  font-weight: 300;
  font-size: 1.125rem;
  width: 80%;
  line-height: 40px;
  margin-bottom: 150px;
  max-width: 1500px;
}

.hamburger-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-right: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 12;
}

.hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  position: absolute;
  z-index: 200;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 115px;
  top: 30%;
  opacity: 0;
  margin-top: 50px;
}

.hamburger-links {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-family: 18px;
  font-weight: 300;
  z-index: 15;
  margin-bottom: 30px;
}

.hamburger-links:hover {
  color: #EF476F;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  background-color: #EF476F;
  margin: 3px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 10px;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

.bar3 {
  margin-bottom: 0;
}

.change .bar1 {
  -webkit-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
}

.overlay-nav {
  opacity: 0;
  background: #000000;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 10;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadein-overlay {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
  display: block;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.fadeout-overlay {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
  display: none;
}
/*# sourceMappingURL=styles.css.map */